body
{
	text-align: center;
    background: linear-gradient(to right top, #6678ff, #7366ff, #9166ff, #b066ff, #cf66ff);
}
span
{
	font-size: 18px;
	color: red;
}
canvas
{
	background: pink;
	border-radius: 20px;
}